* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 500;
  line-height: 1.6;
  padding: 2rem 2rem;
  font-size: 1.8rem; }

.navigation__list {
  padding: 25px 50px;
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: right;
  text-transform: uppercase; }

.navigation__item {
  list-style-type: none; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none; }
