* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-weight: 500;
  line-height: 1.6;
  padding: 2rem 2rem;
  font-size: 1.8rem; }

.heading-primary {
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  font-size: 8rem;
  margin: 0; }

.heading-primary-black {
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  font-size: 8rem;
  margin: 0; }

.heading-secondary {
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  font-size: 5rem;
  margin: 0; }
  .heading-secondary__about {
    color: #ffffff;
    padding: 3.5rem 0rem;
    display: inline-block;
    font-size: 2rem;
    margin: 0; }

.header {
  height: 97vh;
  background-image: linear-gradient(to right, #3b3b3bbd, #111111c0), url("../../assets/codeimg.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  z-index: 30; }
  .header__container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about {
  background-color: #435e88;
  height: 85rem; }
  .about__container {
    display: flex;
    justify-content: space-between; }
  .about__text-container {
    position: relative;
    top: 3rem;
    padding: 10rem 15rem;
    width: 50%; }
  .about__img {
    position: relative;
    top: 3rem;
    padding: 10rem 15rem; }
    .about__img--layout {
      height: 60rem;
      width: 50rem;
      border-radius: 2rem; }
    .about__img--text-container {
      color: #ffffff; }

.projects {
  height: 80rem; }
  .projects__container {
    text-align: center;
    margin: 6rem 0 4rem 0; }

.carousel {
  position: relative;
  width: 100%;
  max-width: 60rem;
  overflow: hidden;
  margin: auto; }
  .carousel__container {
    display: flex;
    transition: transform .5s ease-in-out; }
  .carousel__img {
    width: 100%; }

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer; }

button.prev {
  left: 0; }

button.next {
  right: 0; }

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border: .5px solid #000;
  border-radius: 10rem;
  cursor: pointer;
  background-color: #1f4b88; }

.navigation__list {
  padding: 4rem 5rem;
  display: flex;
  flex-direction: row;
  gap: 4%;
  justify-content: right;
  text-transform: uppercase; }

.navigation__item {
  list-style-type: none; }

.navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 2rem; }
