.btn {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10rem;
    cursor: pointer;
    background-color: $color-primary;
    color: $color-white;

    &:hover {
        background-color: $color-secondary;
        border-color: $color-primary;
    }
}