.navigation {

    &__list {
        padding: 4rem 5rem;
        display: flex;
        flex-direction: row;
        gap: 4%;
        justify-content: center;
        text-transform: uppercase;
    }

    &__logo{
        
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: $color-white;
            padding: 1rem 0rem;

        }
    }
}