.btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border: .5px solid #000;
    border-radius: 10rem;
    cursor: pointer;
    background-color: $color-secondary;

}