.about {
    background-color: $color-primary;
    height: 85rem;

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__text-container {
        position: relative;
        top: 3rem;
        padding: 10rem 15rem;
        width: 50%;
    }

    &__img {
        position: relative;
        top: 3rem;
        padding: 10rem 15rem;

        &--layout {
            height: 60rem;
            width: 50rem;
            border-radius: 2rem;
        }

        &--text-container {
            color: $color-white;
        }

    }
}