.about {
    background-color: $color-white;
    height: 95rem;
    color: $color-black;

    @include respond(tab-port-small) {
        height: 110rem;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-family: $font-primary;

        @include respond(tab-port) {
            display: flex;
            justify-content: center;
        }
    }

    &__text-container {
        padding: 6rem 12rem;
        max-width: 50%;
        height: auto;

        @include respond(tab-port) {
            max-width: none;
            padding: 4rem 5rem 0rem 5rem;
        }
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 10rem 15rem;

        @include respond(desktop) {
            padding: 6rem 8rem;
        }

        @include respond(tab-port) {
            padding: 1rem 8rem;
            width: 50%;
            min-width: 400px; 
            max-width: 450px;
        }

        // actual img
        &--layout {
            max-width: 80%;
            height: auto;
            border-radius: 2rem;
            box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
            transition: all .5s;
            transform-style: preserve-3d;

            // @include respond(tab-port-small) {
            //     max-width: none;
            // }

            &:hover {
                animation: flip 1.5s ease-in-out infinite; // Infinite flip animation on hover
            }
        }

    }

    &__paragraph {
        padding: .8rem 0;
        font-family: $font-primary;

        @include respond(desktop) {
            font-size: 1.5rem;
            padding: .6rem 0;
        }

    }

}

// Keyframes for the coin flip effect
@keyframes flip {
    0% {
        transform: rotateY(0); // Initial position
    }

    50% {
        transform: rotateY(180deg); // Halfway, flipped halfway around
    }

    100% {
        transform: rotateY(360deg); // Full flip, back to the start
    }
}