.about {
    background-color: $color-white;
    height: 85rem;
    color: $color-black;

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__text-container {
        padding: 9rem 12rem;
        width: 50%;
    }

    &__img {
        position: relative;
        top: 3rem;
        padding: 10rem 15rem;

        // actual img
        &--layout {
            height: 60rem;
            width: 45rem;
            border-radius: 2rem;
            box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
        }

    }

}