.header {
    height: 97vh;
    background-image: linear-gradient(to right, $color-dim, $color-dark), url('/assets/img/codeimg.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 30;

    &__container{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: $color-white;

    }

}