.projects{
    height: 80rem;

    &__container{
       text-align: center;
       margin: 6rem 0 4rem 0;
    }
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 60rem;
    overflow: hidden;
    margin: auto;

    &__container {
        display: flex;
        transition: transform .5s ease-in-out;
    }

    &__img {
        width: 100%;

    }
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}