.resume {
    background-color: $color-white;
    height: 85rem;
    color: $color-black;
    text-align: center;

    &__container {
        padding: 8rem 0rem 0rem 0rem;
    }

    &__btn-container {
        margin: 2rem 0rem 10rem 0rem;
    }
}

.img-row {
    display: flex;
    justify-content: center;

    &__container--1 {
        width: 25rem;
        height: 25rem;
        margin-right: 5%;
        mask-image: url("../../assets/svg/desktop-svgrepo-com.svg");
        -webkit-mask-image: url("../../assets/svg/desktop-svgrepo-com.svg");
        mask-size: contain;
        -webkit-mask-size: contain;
        /* center the image in the mask */
        mask-position: center;
        -webkit-mask-position: center;
        background-image: url('../../assets/img/code.jpg');
        background-size: cover;
        background-position: center; 
    }
    &__container--2 {
        width: 25rem;
        height: 25rem;
        margin-right: 5%;
        margin-left: 5%;
        mask-image: url("../../assets/svg/mouse-svgrepo-com.svg");
        -webkit-mask-image: url("../../assets/svg/mouse-svgrepo-com.svg");
        mask-size: contain;
        -webkit-mask-size: contain;
        /* center the image in the mask */
        mask-position: center;
        -webkit-mask-position: center;
        background-image: url('../../assets/img/code.jpg'); 
        background-size: cover; 
        background-position: center; 
    }
    &__container--3 {
        width: 25rem;
        height: 25rem;
        margin-left: 5%;
        mask-image: url("../../assets/svg/code-branch-svgrepo-com.svg");
        -webkit-mask-image: url("../../assets/svg/code-branch-svgrepo-com.svg");
        mask-size: contain; 
        -webkit-mask-size: contain;
        /* center the image in the mask */
        mask-position: center; 
        -webkit-mask-position: center;
        background-image: url('../../assets/img/code.jpg'); 
        background-size: cover; 
        background-position: center; 
    }
}
