.heading-primary {
    text-transform: uppercase;
    display: inline-block;
    font-size: 8rem;
    margin: 0;
    font-family: $font-primary;

    @include respond(small-desktop) {
      font-size: 6rem;
    }
    @include respond(tab-port-small) {
      font-size: 4.7rem;
    }

   
}

.heading-primary-white {
    text-transform: uppercase;
    color: $color-white;
    font-family: $font-primary;
    display: inline-block;
    font-size: 8rem;
    margin: 0;
}

.heading-secondary {
    text-transform: uppercase;
    font-family: $font-primary;
    display: inline-block;
    font-size: 5rem;
    margin: 0;

    @include respond(small-desktop) {
        font-size: 3.5rem;
      }
    @include respond(tab-port-small) {
        font-size: 2.1rem;
      }

    &__about {
        padding: 1rem 0rem 2rem 0rem;
        display: inline-block;
        font-size: 2.2rem;
        margin: 0;

        @include respond(small-desktop) {
            font-size: 1.7rem;
          }

          @include respond(tab-port) {
       
          }
    }
}